.nav {
  background-color: var(--bg-header);
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
  padding: var(--primary-padding);
  font-size: 18px;
  position: sticky;
  top: 0;
  z-index: 9999;
  width: 100%;
}

.logo img {
  width: 35px;
  cursor: pointer;
}

.navlinks {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8rem;
}

.hamburgerIcon {
  display: none;
  cursor: pointer;
}

.openHamburgerWrapper {
  position: fixed;
  z-index: 111;
  top: 0;
  left: 0;
  background-color: var(--bg-header);
  height: 100vh;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.openHamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  font-size: 40px;
}

.openHamburger li:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -19px;
  width: 0px;
  height: 2px;
  background: #ffffff;
  transition: all 0.45s;
}

.openHamburger li:hover:after {
  width: 100%;
  left: 0;
}

.openHamburger li {
  list-style: none;
  position: relative;
  display: inline;
}

.openHamburger li a {
  color: white;
  text-decoration: none;
}

.openHamburger li:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -19px;
  width: 0px;
  height: 2px;
  background: #ffffff;
  transition: all 0.45s;
}

.openHamburger li:hover:after {
  width: 100%;
  left: 0;
}

.openHamburger li a:hover {
  text-decoration: none;
}

.closeImg {
  background: none;
  border: none;
}
.closeImg img {
  width: 50px;
}

@media only screen and (max-width: 1200px) {
  .detail-summary {
    display: flex;
    justify-content: flex-end;
  }
  .anchor-bar ul {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .navlinks {
    gap: 4rem;
  }
}

@media only screen and (max-width: 1024px) {
  *::-webkit-scrollbar {
    width: 0;
  }

  .nav {
    justify-content: space-between;
    padding: var(--padding-gap);
  }
  .navlinks {
    display: none;
  }
  .hamburgerIcon {
    display: block;
    width: 26px;
    background: none;
    border: none;
  }
}
